@model AddCitiesToCountry
@{
    ViewData["Title"] = $"Add Cities to {Model.Country.Value}";
}

<h1>Add Cities To @Model.Country.Value</h1>
<hr />
<partial name="_GoBackButton" />

<div>
    <div></div>
</div>