@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />

<p>This page does not contain any specific information in itself, and is typically only accessible if the user specified this in the address '/Account', or if something in the application didn't go fully as planned.</p>