@{
    ViewData["Title"] = "Password Reset";
}

<h1>Password Reset</h1>
<hr />

<p>
    Please check your inbox to reset your password. <br />
    if the mail hasn't shown up in 60 seconds, then please check your spam folder or click
    <a asp-action="ResendPasswordReset" asp-controller="Account" asp-route-email="@ViewBag.email">here</a>
</p>