@model CityCreation
@{
    ViewData["Title"] = "Create";
}

<h1>Create new city</h1>
<hr />
<partial name="_GoBackButton" />

<div class="shadow border col-3">
    <form asp-action="Create" asp-controller="City">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Name"></label>
            <input class="form-control" asp-for="City.Name" autofocus placeholder="Name" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.Name"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Population"></label>
            <input class="form-control" asp-for="City.Population" type="number" placeholder="Population" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.Population"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.PostalCode"></label>
            <input class="form-control" asp-for="City.PostalCode" placeholder="Postal code" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.PostalCode"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Country"></label>
            <select asp-for="CountryId" class="form-control">

                <option value="@null">None</option>

                @foreach (var country in Model.Countries)
                {
                    <option value="@country.Key">@country.Value</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm mb-2" />
        </div>
    </form>
</div>