
@{
    ViewData["Title"] = "School";
}

<h1>School</h1>

<div class="container shadow border box-shadow">
    Hello user! This page is mostly used for showing the differences
    between the authentication users. If you're not signed in you'll see a "Person" button appearing in the navbar when on this page.
    If you're an admin you'll see 3 buttons appear which are "Person", "City", and "Country". <br />

    If you're not signed in you will not be able to do anything with people other than viewing them. <br/>
    If you're signed in you can create, edit and delete existing people on this application but not view "City" nor "Country". <br/>
    If you're an administrator you can do all of the above, and also change "City" and "Country" to your liking.
</div>