@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* This "GoBack" button takes you back to the Index, which in this applications case, is also to the respective list of the object. *@
<a asp-action="Index" class="btn btn-primary btn-sm mt-2 mb-3">Return to list</a>