@model string

@inject SignInManager<AppUser> _signInManager
@*@inject UserManager<AppUser> _userManager*@

@*@if (User.Identity.IsAuthenticated)*@

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-action="Profile" asp-controller="Account" asp-route-email="@User.Identity.Name" class="nav-link btn text-dark"><small>Hello @User.Identity.Name!</small></a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link btn text-dark" asp-action="Register" asp-controller="Account">Register new user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn text-dark" asp-action="Users" asp-controller="Account"><i class="fas fa-users"></i> Users</a>
        </li>
    }
    <li class="nav-item">
        <a asp-action="SignOut" asp-controller="Account" class="nav-link btn btn-link text-dark">Sign out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn text-dark" asp-action="Register" asp-controller="Account">Register</a>
    </li>
    <li class="nav-item">
        @* data-toggle="modal" data-target="#signInModal" *@
        <a class="nav-link btn text-dark" id="signInBtn" asp-action="SignIn" asp-controller="Account">Login</a>
    </li>
}